.QuienesSomos{
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background: url("Img/FondoQuienesSomosLG.jpg") repeat center center fixed;
    width: 100vw;
    height: 100vh;
    &__Contenedor{
        background-color: rgba(0, 0, 0, 0.50);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__Parrafo{
            color: white;
            text-align: center;
            width: 50rem;
            font-size: 1.7em;
        }
    }
}